/* general rules */
*
{
    margin: 0;
    padding: 0;
}

:focus
{
    outline: none;
    outline: 0;
}

:active
{
    outline: none;
    outline: 0;
}

/* main and children */
#main
{
    float: right;

    width: 85%;
    height: 100%;
}

#addElement
{
    position: absolute;
    z-index: 51;
    right: 5%;
    bottom: 5%;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 25px;
    background: red;
}

/* */
